/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    #topHeader{
        display: none;
    }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    #topHeader{
        display: none;
    }
}
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    #topHeader{
        display: none;
    }
    #carouselExampleIndicators img {
        height: 120px;
    }
    .banner3Content img {
        width: 100%;
        height: 100px;
        margin-bottom: 15px;
    }
    #flashSale #timeCount {
        font-size: 18px;
    }
    .productContent {
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        transition: .2s ease-in;
        -webkit-box-shadow: 3px 20px 24px 6px rgba(0,0,0,0.1);
        -moz-box-shadow: 3px 20px 24px 6px rgba(0,0,0,0.1);
        box-shadow: 3px 20px 24px 6px rgba(0,0,0,0.1);
    }
    .productContent a h6 {
        margin-top: 15px;
        font-size: 12px;
    }
    .productContent p {
        font-size: 12px;
    }
    .productContent span {
        font-size: 12px;
    }
    .col8{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3%;
        flex: 0 0 33.3%;
        max-width: 33.3%;
    }
    #categoryPart .img-fluid {
        max-width: 100%;
        height: 120px;
    }
    #entrepreneurs .img-fluid {
        max-width: 100%;
        height: 120px;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 10px;
    }
    .col-6 {
        padding: 0 5px !important;
    }
}
@media (max-width: 400px) { 
    .col-6 {
        padding: 0 5px !important;
    }
    .col8{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    #categoryPart .img-fluid {
        max-width: 100%;
        height: 100px;
    }
    #entrepreneurs .img-fluid {
        max-width: 100%;
        height: 100px;
    }
    
}