*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;

}
h2{
    font-size: 35px;
    font-weight: 700;
    color: #000;
}
#topHeader{
    height: 30px;
    line-height: 28px;
    width: 100%;
    background: #113745;
    color: #ffffff;
}
#topHeader p{
    font-size: 12px;
    font-weight: 400;
}
#carouselExampleIndicators img{
    height: 300px;
}
/* category part */
#categoryPart{
    padding: 40px 0;
}
.col8{
    position: relative;
    width: 12.5%;
    height: 200px;
    float: left;
    display: inline-block;
}
.col8 a{
    color: #000000;
}
.CBcontent{
    position: absolute;
    width: 86.9%;
    height: 90%;
    padding: 15px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 3px 20px 24px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 3px 20px 24px 6px rgba(0,0,0,0.1);
    box-shadow: 3px 20px 24px 6px rgba(0,0,0,0.1);
}
.CBcontent .btn-outline-primary{
    margin-top: 50px;
}
/*  */
#entrepreneurs{
    padding: 40px 0;
}